body{
    background-color: #282A36;
    color: azure;
}
input {
    background-color: #04AA6D;
    border: none;
    color: white;
    text-decoration: none;
    margin: 1em 1em;
    cursor: pointer;
    border-style: solid;
    border-color: #04AA6D;
    border-radius: 4px;
}
input[type=text] {
    background-color: white;
    color: black;
}
.button_space{
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: blueviolet;
    border-radius: 2px;
}
.buzzer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}
.buzzer_button{
    width: 100px;
    height: 100px;
}
.buzzered_name_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buzzered_names{
    display: flex;
    flex-wrap: wrap;
}
.player_points_giver{
    display: flex;
}
.points_player{
    border-style: solid;
    border-color: blueviolet;
    border-radius: 2px;
    margin: 2em;
    padding: 2em;
}
.text_player_name{
    width: 100%;
    text-align: center;
}
.punkte_player_holder{
    display: flex;
    flex-wrap: wrap;
}
.points_adder_button{
    width: 100%;
}
.text_player{
    width: 100%;
    text-align: center;
}
.texts_player{
    border-color: #04AA6D;
    border-style: solid;
    border-radius: 3px;
}
a {
    color: white;
}