:root {
    --panel_size: 550px;
    --main_color: #ffa8c1;
    --sec_color: #301f23;
    
    --played_main_color: #5f5f5f;
    --played_sec_color: #e3e3e3;
  }

html,
body {
    margin: 0px;
    padding: 0px;
}

.settings{
    background-color: yellowgreen;
    height: auto;
}
.content{
    height: 1080px;
    width: 1920px;
}
.upper_content{
    display: flex;
    height: 750px;
}
.playercam{
    width: 24%;
}
.teilnehmer_cams{
    display: flex;
    width: 98%;
    justify-content: space-between;
    padding-top: 1em;
    height: 230px;
}
.timer{
    display: flex;
    justify-content: center;
}
.moderatorcam{
    width: 29%;
    position: relative;
}
.timer{
    font-size: 3em;
    position: relative;
    top: 305px;
}
.mod_cam_container_contianer{
    display: flex;
    position: relative;
    top: 311px;
}
.jeopardy-board{
    display: block;
    width: 70%;
}

.jeopardy-board{
    font-family: fantasy;
}

.full_width{
    display: block;
    width: 100%;
}
.rows_names{
    text-align: center;
    height: 30px;
    margin: 0.01em;
    font-size: 1.5em;
}
.feld_item{
    background-color: var(--main_color);
    color: var(--sec_color);
    text-align: center;
    border-radius: 6px;
    border-color: var(--sec_color);
    border-style: solid;
    margin: 0.01em;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
.played{
    background-color: var(--played_main_color);
    color: var(--played_sec_color);
}
.mod_cam_container{
    display: inline-block;
    position: relative;
    width: 95%;
    margin-top: auto;
}
.player_cam_container{
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: auto;
}
.dummy{
    margin-top: 56.25%;
}

.mod_cam{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 6px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--sec_color);
}
.bottom-right {
    position: absolute;
    bottom: 4px;
    right: 8px;
}
.bottom-left{
    position: absolute;
    bottom: 4px;
    left: 8px;
}
.top-left{
    position: absolute;
    top: 4px;
    left: 8px;
}
.text-over-cam{
    background-color: #1f1e1f;
    color: #d2d2d2;
    padding: 0.5em;
}
.mod_name{
    color: var(--played_sec_color);
}
.player_cam{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 6px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--sec_color);
}
.mod_name{
    color: var(--played_sec_color);
}
.first{
    border-color: green;
}
.second{
    border-color: yellow;
}
.third{
    border-color: orange;
}
table{
    table-layout: fixed;
    width: 100%;
    height: 600px;
}
.unvisible{
    display: none;
}

.question_panel{
    height: 551px;
    width: 1331px;
    position: absolute;
    top: 39px;
    left: 560px;
    background-color: var(--main_color);
    color: var(--sec_color);
    border-radius: 6px;
    border-color: var(--sec_color);
    border-style: solid;
    z-index: 3;
}
.question_title{
    width: 100%;
    text-align: center;
    z-index: 3;
}
.close{
    position: absolute;
    top: 3px;
    right: 3px;
    height: 20px;
    width: 20px;
    border-color: #1f1e1f;
    border-style: solid;
    text-align: center;
    z-index: 3;
}
.question_img{
    height: calc(var(--panel_size) - 100px);
    width: calc(var(--panel_size) - 100px);
    position: absolute;
    left: 440px;
}