
<!DOCTYPE html>
<html>
    <head>
        <title>Flask app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/buzzer.css') }}">
        <script src="{{ url_for('static', filename='scripts/buzzer.js') }}"></script>
    </head>
    <body onload="set_interval()">
        <div class="button_space">
            <h2>Buzzer</h2>
            <div class="button">
                <input class="reset_button" type="button" value="Reset" onclick="reset_button()">
            </div>
            {% if buzzer_active %}
            active: <input type="checkbox" name="buzzer_active" id="buzzer_active" onchange="change_buzzer_active()" checked>
            {% else %}
            active: <input type="checkbox" name="buzzer_active" id="buzzer_active" onchange="change_buzzer_active()">
            {% endif %}
            <div class="buzzered_names">
                {% for name in buzzered %}
                <div class="buzzered_name_container">
                    <div class="buzzered_name">
                        {{name}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>