
<!DOCTYPE html>
<html>
    <head>
        <title>Flask app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/buzzer.css') }}">
        <script src="{{ url_for('static', filename='scripts/buzzer.js') }}"></script>
    </head>
    <body onload="set_interval()">
        <div class="buzzer">
            <img class="buzzer_button" src="{{url_for('static', filename='imgs/button.png')}}" onclick="buzz('{{ player['id'] }}')">
        </div>
        <div class="buzzered_names">
            {% for name in buzzered %}
            <div class="buzzered_name_container">
                <div class="buzzered_name">
                    {{name}}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="userinput">
            <div class="userinput_container">
                Input: <input id="user_input" class="user_input">
            </div>
            <input type="button" value="Save" onclick="send_message('{{ player['id'] }}')">
        </div>
        <input type="text" class="camlink" id="camlink_{{player['name']}}" value="{{player['video-link']}}">
        <input type="button" class="save_cam_link" value="save" onclick="save_cam_link('{{player['name']}}', '{{player['id']}}')">
    </body>
</html>