
<!DOCTYPE html>
<html>
    <head>
        <title>Flask app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
        <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/countdown.js') }}"></script>
    </head>
    <body onload="set_interval()">
        <div class="content">
            <div class="upper_content">
                <div class="moderatorcam">
                    <div class="timer">
                        <a id="countdown_minuten">{{ countdown_min }}</a>:<a id="countdown_sekunden">{{ countdown_sec }}</a><a style="display: none" id="countdown_msekunden">00</a>
                    </div>
                    <div class="mod_cam_container_contianer">
                        <div class="mod_cam_container">
                            <div class="dummy"></div>
                            <iframe  class="mod_cam" src="{{ moderator['video-link'] }}" id="mod_cam">
                            <a class="bottom-right text-over-cam">{{ moderator['name'] }}</a>
                        </div>
                    </div>
                </div>
                <div class="jeopardy-board">
                    <table>
                        <tr>
                            {% for row in rows %}
                                <td>
                                    <div class="rows_names">
                                        {{row}}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    
                        {% for x in range(feld|length) %}
                        <tr>
                            {% for y in range(feld[x]|length) %}
                            <td id="td_{{x}}_{{y}}">
                                <div class="question_panel unvisible" id="question_{{x}}_{{y}}">
                                    <input type="button" class="close" value="x" onclick="close_question({{x}}, {{y}})">
                                    <h3 class="question_title">{{rows[y]}} - {{columns[x]}}</h3>
                                    <img src="{{ url_for('static', filename='imgs/questions/'+rows[y]+'_'+columns[x]|string+'.png') }}" alt="" class="question_img">
                                </div>
                                {% if feld[x][y] == 0 %}
                                <div id="feld_item_{{x}}_{{y}}" class="feld_item" onclick="set_visited({{x}}, {{y}})">
                                {% else %}
                                <div id="feld_item_{{x}}_{{y}}" class="feld_item played" onclick="set_visited({{x}}, {{y}})">
                                {% endif %}
                                    <div class="content_number">
                                        {{columns[x]}}
                                    </div>
                                </div>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="teilnehmer_cams">
                {% for player in players %}
                <div class="playercam">
                    <div class="player_cam_container">
                        <div class="dummy"></div>
                        <embed class="player_cam {{ player['name'] }}" src="{{ player['video-link'] }}" id="player_cam_{{ player['name'] }}">
                            <a class="bottom-right text-over-cam" id="player_name_{{player['name']}}">{{ player['name'] }}</a>
                            <a class="bottom-left text-over-cam" id="player_points_{{player['name']}}">{{ player['punkte'] }}</a>
                            {% if player['text'] != "" %}
                                <a class="top-left text-over-cam player_text" id="player_text_{{player['name']}}">{{ player['text'] }}</a>
                            {% else %}
                                <a class="top-left text-over-cam player_text unvisible" id="player_text_{{player['name']}}">{{ player['text'] }}</a>
                            {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
        <div>
            <div style="width: 100%" class="input">
                Countdown <input id="countdown_min" type="text" value="{{countdown_min}}" style="width:5em">
                <input id="countdown_sec" type="text" value="{{countdown_sec}}" style="width:5em">
                <button id="countdown_start_stop" class="unloaded" onclick="countdown_start_stop()">Start</button>
                <button onclick="countdown.clear()">Reset</button>
            </div>
        </div>
        <input type="button" value="refresh_cams" onclick="refresh_player_cams()">
        
    </body>
</html>